{% extends "thread/base.html" %}
    {% block content %}
        <h1>Welcome to Perkaholic Hub,</h1>
        <div class="card border about">
        <p class="light"> Your ultimate destination for all things Call of Duty, with a special focus on the intense and thrilling world of Zombies. Whether you’re a seasoned veteran or a newcomer to the undead battlegrounds, Perkaholic Hub has you covered.</p>
         <p class="light">Our site is dedicated to providing in-depth guides on how to complete every Easter egg, master the weapons, and navigate the treacherous maps in Call of Duty Zombies. We break down strategies, share tips, and offer insights to help you survive wave after wave of the undead.</p>
         <p class="light">From the classic maps to the latest releases, we cover it all.</p>
         <p class="light"> But that's not all—Perkaholic Hub also keeps you up-to-date with the latest standings in the Call of Duty e-sports league. Stay informed on the top teams, match results, and upcoming tournaments.</p>
         <p class="light"> Whether you're a player looking to improve your game or a fan following the competitive scene, our detailed coverage will keep you in the loop.
          Join us at Perkaholic Hub, where Call of Duty enthusiasts unite to conquer Zombies, unlock secrets, and celebrate the adrenaline-pumping world of e-sports. Let’s dominate the battlefield together!</p>
         </div>
    {% endblock content %}
