{% extends "thread/base.html" %}
{% block content %}
<div class="card border landing about">
 <h2>Who Are We?</h2>
 <p class="light">Welcome to Perkaholic Hub.</p>
 <p class="light">Your ultimate destination for all things Call of Duty, with a special focus on the intense and thrilling world of Zombies. Whether you’re a seasoned veteran or a newcomer to the undead battlegrounds, Perkaholic Hub has you covered.</p>
 <p class="light">...</p>
 <a class="btn btn-outline-info" href="{% url 'thread-about' %}">About Us</a>
</div>
<div class="card border secondNav">
 <div class="card secondNav items league">
  <h2 class="outline h2-title">League</h2>
  <a class="btn btn-outline-info" href="{% url 'thread-league' %}">League Info</a>
 </div>
 <div class="card secondNav items store">
  <h2 class="outline h2-title">Store</h2>
  <a class="btn btn-outline-info" href="{% url 'thread-store' %}">Merch Store</a>
 </div>
 <div class="card secondNav items threads">
  <h2 class="outline h2-title">Threads</h2>
  <a class="btn btn-outline-info" href="{% url 'thread-thread' %}">User Posts</a>
 </div>
</div>
{% endblock content %}