{% extends "thread/base.html" %}
{% block content %}
<div class="card border landing about">
 <h2>Who Are We?</h2>
 <p class="light">Welcome to Perkaholic Hub.</p>
 <p class="light">Your ultimate destination for all things Call of Duty, with a special focus on the intense and thrilling world of Zombies. Whether you’re a seasoned veteran or a newcomer to the undead battlegrounds, Perkaholic Hub has you covered.</p>
 <p class="light">...</p>
 <a class="btn btn-outline-info" href="{% url 'thread-about' %}">Click Here</a>
</div>
<div class="card border secondNav">
 <div class="card secondNav items">
  <h2>League</h2>
  <a class="btn btn-outline-info" href="{% url 'thread-league' %}">Click Here</a>
 </div>
 <div class="card secondNav items">
  <h2>Store</h2>
  <a class="btn btn-outline-info" href="{% url 'thread-store' %}">Click Here</a>
 </div>
 <div class="card secondNav items">
  <h2>Threads</h2>
  <a class="btn btn-outline-info" href="{% url 'thread-thread' %}">Click Here</a>
 </div>
</div>
<div>
 <h2 class="card border">News text here</h2>
</div>
{% endblock content %}