{% extends "thread/base.html" %}
    {% block content %}
        <h1>League Standings!</h1>
        <table class="table caption-top table-dark">
         <thead>
           <tr>
             <th scope="col">#</th>
             <th scope="col">Team 1</th>
             <th scope="col">Team 2</th>
             <th scope="col">Date</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th scope="row">1</th>
             <td>Faze</td>
             <td>Breach</td>
             <td>12th Jul</td>
           </tr>
           <tr>
             <th scope="row">2</th>
             <td>Royal Ravens</td>
             <td>Guerrillas</td>
             <td>21st Jul</td>
           </tr>
           <tr>
             <th scope="row">3</th>
             <td>Thieves</td>
             <td>Heretics</td>
             <td>12th Aug</td>
           </tr>
           <tr>
            <th scope="row">4</th>
            <td>R0kkr</td>
            <td>Subliners</td>
            <td>21st Aug</td>
          </tr>
          <tr>
           <th scope="row">5</th>
           <td>Surge</td>
           <td>Optic</td>
           <td>12th Sept</td>
         </tr>
         <tr>
          <th scope="row">6</th>
          <td>Ultra</td>
          <td>Legion</td>
          <td>21st Sept</td>
        </tr>
         </tbody>
       </table>
    {% endblock content %}