{% extends "thread/base.html" %}
{% block content %}
    <h1>Store!</h1>
    {% for product in products %}
    <article class="media content-section">
        <div class="media-body">
            <h2><a class="article-title" href="#">{{ product.item_name  }}</a></h2>
            <small class="text-muted">Description: {{ product.description }}</small>
            <h2><a class="article-title" href="#">Colour: {{ product.colour }}</a></h2>
            <p class="article-content">Quantity: {{ product.quantity }}</p>
            <img src="{{ product.image.url }}" class="img small" alt="{{ product.item_name }}">
        </div>
    </article>
    {% endfor %}
{% endblock content %}