@media only screen and (min-width: 300px){
 body {
  background: #332E2D;
  color: #333333;
  margin-top: 5rem;
 }
 
 h1, h2, h3, h4, h5, h6 {
  color: #E03709;
 }
 
 ul {
  margin: 0;
 }
 .container{
  background-color: #332E2D;
 }
 
 .bg-steel {
  background-color: #332E2D;
 }
 
 .site-header .navbar-nav .nav-link {
  color: #cbd5db;
 }
 
 .site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
 }
 
 .site-header .navbar-nav .nav-link.active {
  font-weight: 500;
 }
 
 .content-section {
  background: #E03709;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
 }
 .text-muted {
  color: #8B4734 !important;
}

a {
 color: #362A26;
 text-decoration: underline;
}
 .article-title {
  color: #444444;
 }
 
 a.article-title:hover {
  color: #428bca;
  text-decoration: none;
 }
 
 .article-content {
  white-space: pre-line;
 }
 
 .article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
 }
 
 .article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
 }
 
 .article-metadata a:hover {
  color: #333;
  text-decoration: none;
 }
 
 .article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
 }
 .navbar-dark .navbar-brand {
  color: #E03709;
}
 .account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
 }
 .btn-info  {
  color: #000;
  background-color: #E03709;
  border-color: #E03709;
}
.btn-outline-info{
 color: #000;
 background-color: #E03709;
 border-color: #E03709;
}
 .account-heading {
  font-size: 2.5rem;
 }
 
 .row{
  margin-top: 82px !important;
 }
}

@media only screen and (min-width: 600px){

}
@media only screen and (min-width: 900px){

}
@media only screen and (min-width: 1200px){

}
